@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not FOund Error:</h4>
    <hr />
    <h5>Employee with Id = @Model cannot be found</h5>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width:auto">
    click here to see the list of employees
</a>